#
# Tika Extractor Configuration
#

# MIME types to exclude from full parsing:
# Javascript/CSS excluded as irrelevant.
# Archives excluded as these seem to cause Java heap space errors with Tika.
record.exclude.mime = x-tar,x-gzip,bz,lz,compress,zip,javascript,css,octet-stream,image,video,audio

# Maximum parse time:
tika.timeout = 300000



#
# Hadoop WARC Record Reader Configuration
#

# URLs to skip:
# robots.txt excluded as irrelevant
# RSS excluded as Tika misidentifies these as text/plain leading to erroneous "]]>" entries.
record.exclude.url = robots.txt,.rss,panaccess-mime.types,.js,.cat,.css

# Restrict payload size to no larger than:
record.size.max = 104857600

# Restrict response codes:
record.include.response = 200

# Restrict protocols:
record.include.protocol = http,https

# SolrServer
solr.server=http://192.168.1.151:8983/solr/jisc/
solr.batch.size=50
solr.threads=1

#http.proxy.host=explorer-private
#http.proxy.port=3127

hadoop.reducers=35
