#
# Tika Extractor Configuration
#

# MIME types to exclude from full parsing:
# Javascript/CSS excluded as irrelevant.
# Archives excluded as these seem to cause Java heap space errors with Tika.
mime_exclude = x-tar,x-gzip,bz,lz,compress,zip,javascript,css,octet-stream,image,video,audio

# Maximum parse time:
parse_timeout = 300000



#
# Hadoop WARC Record Reader Configuration
#

# URLs to skip:
# robots.txt excluded as irrelevant
# RSS excluded as Tika misidentifies these as text/plain leading to erroneous "]]>" entries.
url_exclude = robots.txt,.rss,panaccess-mime.types,.js,.cat,.css

# Restrict payload size to no larger than:
max_payload_size = 104857600

# Restrict response codes:
response_include = 200

# Restrict protocols:
protocol_include = http,https

# SolrServer
solr_server=http://192.168.1.151:8983/solr/jisc/
solr_batch_size=100
solr_threads=1

#http_proxy_host=explorer-private
#http_proxy_port=3127

hadoop_reducers=35
