#
# Tika Extractor Configuration
#

# MIME types to exclude from full parsing:
# Javascript/CSS excluded as irrelevant.
# Archives excluded as these seem to cause Java heap space errors with Tika.
mime_exclude=x-tar,x-gzip,bz,lz,compress,zip,javascript,css,octet-stream,image,video,audio

# Maximum parse time:
parse_timeout=300000



#
# Hadoop WARC Record Reader Configuration
#



# SolrServer
solr_server=http://192.168.1.203:8983/solr/ukdomain
solr_batch_size=100
solr_threads=1

hadoop_reducers=10
