# Javascript/CSS excluded as irrelevant.
# Archives excluded as these seem to cause Java heap space errors with Tika.
mime_exclude = x-tar,x-gzip,bz,lz,compress,zip,javascript,css,octet-stream

# robots.txt excluded as irrelevant
# RSS excluded as Tika misidentifies these as text/plain leading to erroneous "]]>" entries.
url_exclude = robots.txt,.rss,panaccess-mime.types,.js,.cat

parse_timeout = 300000
max_payload_size = 104857600

# Restrict response codes
response_include = 200

# Restrict protocols
protocol_include = http,https